@import '../../variables';

.episodes-grid {
  display: grid;
  grid-column-gap: 16px;

  &__toggle {
    width: 100%;
    margin-top: 16px;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }
}

.episodes-grid > *:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: $sm-width) {
  .episodes-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-row-gap: 36px;
  }
}

@media screen and (min-width: $xs-width) and (max-width: $sm-width - 1) {
  .episodes-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: 24px;
  }
}

@media screen and (max-width: $xs-width - 1) {
  .episodes-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 12px;
  }
}
