@import '../../variables';

.episodes-grid-item {
  display: flex;
  flex-direction: column;

  &__content {
    margin-top: 16px;

    h6 {
      text-transform: capitalize;
      display: block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-top: 12px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: $xs-width) {
  .episodes-grid-item {
    &__content {
      h6 {
        padding-top: 12px;
      }
    }
  }
}

@media screen and (max-width: $xs-width - 1) {
  .episodes-grid-item {
    &__content {
      h6 {
        padding-top: 6px;
      }
    }
  }
}
