@import "../../variables";

.footer {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);

  img {
    height: 42px;
    width: auto;
  }

  &__credits {
    font-size: 14px;
    letter-spacing: 0px;
    text-align: right;

    b {
      display: block;
      color: var(--primary-color);
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: $sm-width) {
  .footer {
    padding: 0 $horizontal-padding;
  }
}

@media screen and (max-width: $sm-width - 1) {
  .footer {
    padding: 0 $horizontal-padding-sm;
  }
}
