.header {
  grid-column: full-start / full-end;
  background-color: var(--primary);

  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

  &__container {
    grid-column: center-start / center-end;
    background-color: rebeccapurple;
  }
}