.header {
  width: 100vw;
  height: 35vh;
  background-color: var(--primary);

  &__heading {
    display: flex;
  }

  &__category {
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    border: 1px solid white;
    border-radius: 100px;
  }
}