.episodes-layout-selector {
  display: flex;
  align-items: center;
  border-radius: 19px;
  overflow: hidden;
  position: relative;

  &__icon {
    height: 13px;
    width: auto;
    fill: #848484;
  }

  &__icon.active {
    fill: var(--primary-color);
  }

  &--light {
    border: 1px solid #cecece;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #cecece;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
}
