.episodes-layout-selector {
  display: flex;
  align-items: center;
}

.episodes-layout-selector > *:first-child {
  border-bottom-left-radius: 19px;
  border-top-left-radius: 19px;
}

.episodes-layout-selector > *:last-child {
  border-bottom-right-radius: 19px;
  border-top-right-radius: 19px;
}