@import '../../variables.scss';

.episodes {
  background-color: var(--bg-color);

  &__layout-selector-outer {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__content {
    padding: 35px 0 60px;
  }
}

@media screen and (min-width: $sm-width) {
  .episodes {
    padding: 0 $horizontal-padding;
  }
}

@media screen and (max-width: $sm-width - 1) {
  .episodes {
    padding: 0 $horizontal-padding-sm;
  }
}
