.episodes-layout-selector-button {
  width: 83px;
  display: flex;
  align-items: center;
  background: #fffb;
  color: #848484;
  border: none;
  padding: 10px 16px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 14px;
  letter-spacing: 0.42px;

  img {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
}