.commands-background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondaryColor);
  height: 100px;
}

.commands-container {
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center-center {
  align-items: center;
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  color: white;
}
