.commands-background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  height: 100px;
}

.commands {
  z-index: 200;

  .commands-container {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-center {
    justify-content: center;
  }

  .align-items-center {
    align-items: center;
  }

  .d-flex {
    display: flex;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .text-no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title-section {
    margin: 0px 24px;
    min-width: 195px;
    max-width: 250px;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
  }

  .subtitle {
    font-size: 12px;
    color: var(--text-color);
    opacity: 0.4;
  }

  .time-track-section {
    min-width: 300px;
    width: 100%;
    input[type="range"] {
      width: 100%;
      margin: 5px 0;
      background-color: transparent;
      -webkit-appearance: none;
    }
    input[type="range"]:focus {
      outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      background: var(--primary-color);
      border: 0;
      border-radius: 2.5px;
      width: 100%;
      height: 5px;
      cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb {
      margin-top: -5px;
      width: 15px;
      height: 15px;
      background: var(--primary-color);
      border: 0;
      border-radius: 7.5px;
      cursor: pointer;
      -webkit-appearance: none;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: var(--primary-color);
    }
    input[type="range"]::-moz-range-track {
      background: var(--primary-color);
      border: 0;
      border-radius: 2.5px;
      width: 100%;
      height: 5px;
      cursor: pointer;
    }
    input[type="range"]::-moz-range-thumb {
      width: 15px;
      height: 15px;
      background: var(--primary-color);
      border: 0;
      border-radius: 7.5px;
      cursor: pointer;
    }
    input[type="range"]::-ms-track {
      background: transparent;
      border-color: transparent;
      border-width: 5px 0;
      color: transparent;
      width: 100%;
      height: 5px;
      cursor: pointer;
    }
    input[type="range"]::-ms-fill-lower {
      background: var(--primary-color);
      border: 0;
      border-radius: 5px;
    }
    input[type="range"]::-ms-fill-upper {
      background: var(--primary-color);
      border: 0;
      border-radius: 5px;
    }
    input[type="range"]::-ms-thumb {
      width: 15px;
      height: 15px;
      background: var(--primary-color);
      border: 0;
      border-radius: 7.5px;
      cursor: pointer;
      margin-top: 0px;
      /*Needed to keep the Edge thumb centred*/
    }
    input[type="range"]:focus::-ms-fill-lower {
      background: var(--primary-color);
    }
    input[type="range"]:focus::-ms-fill-upper {
      background: var(--primary-color);
    }
    /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
    how to remove the virtical space around the range input in IE*/
    @supports (-ms-ime-align: auto) {
      /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
      input[type="range"] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
      }
    }
  }

  .time-track-slider {
    width: 100%;
  }

  .time-track-timer {
    width: 90px;
    font-size: 12px;
    color: var(--text-color);
    opacity: 0.4;
  }

  .right-timer {
    margin-left: 8px;
  }
  .left-timer {
    text-align: end;
    margin-right: 8px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .back-10-button {
    margin-right: 8px;
  }
  .front-10-button {
    margin-left: 8px;
  }

  .play-container {
    position: relative;
    width: 66px;
    height: 66px;
  }

  .play-outer-circle {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.4;
  }

  .play-image-container {
    background-color: var(--bg-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 230;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
  }

  .play-or-pause-icon {
    width: 66px;
    height: 66px;
    top: calc(50% - 33px);
    left: calc(50% - 33px);
    z-index: 240;
  }

  .position-absolute {
    position: absolute;
  }

  .mute-unmute-icon {
    margin: 0 8px 0 16px;
  }

  .download-icon,
  .menu-icon {
    transform: rotate(90deg);
  }

  .circle-command-button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #848484;
    margin-left: 8px;

    * {
      color: white;
      fill: white;
    }
  }

  .circle-command-button:hover {
    opacity: 0.9;
  }

  .clickable,
  .clickable p,
  .clickable svg {
    font-size: 12px;
    cursor: pointer;
  }
  .clickable:hover,
  .clickable p:hover,
  .clickable svg:hover {
    transition: 0.2s ease-in-out;
    color: var(--text-color);
  }
  .clickable:active,
  .clickable p:active,
  .clickable svg:active {
    transition: 0.2s ease-in-out;
    color: var(--primary-color);
  }

  .left-circle-command-button {
    margin-left: 16px;
  }

  .position-relative {
    position: relative;
  }

  .queue-length-tag {
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -7px;
    right: -7px;
    width: 21px;
    height: 21px;
  }

  p,
  div {
    color: var(--text-color);
  }
}
