.mobile-queue-container {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;

  .queue {
    z-index: 100;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
    border-bottom: none !important;

    .queue-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .episode-height {
      z-index: 100;
      height: 60px;
    }

    .extra-queue-space {
      height: 300px;
    }
    .up-next-title {
      font-size: 14px;
      color: var(--text-color);
    }

    .clear-all {
      font-size: 14px;
      cursor: pointer;
      color: var(--primary-color);
    }

    .queue-episode-list {
      height: 100%;
      overflow-y: scroll;
    }

    .queue-episode-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .queue-episode-item:hover {
      background-color: var(--bg-color);
      border: 1px solid var(--text-color);
    }

    .queue-episode-image {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 2px solid var(--text-color);
    }
    .queue-episode-image-first {
      border: 2px solid var(--primary-color);
    }

    .queue-episode-title {
      font-size: 14px;
      color: var(--text-color);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 76%;
    }

    .clickable,
    .clickable p,
    .clickable svg {
      cursor: pointer;
    }
    .clickable:hover,
    .clickable p:hover,
    .clickable svg:hover {
      transition: 0.2s ease-in-out;
      color: var(--text-color);
    }
    .clickable:active,
    .clickable p:active,
    .clickable svg:active {
      transition: 0.2s ease-in-out;
      color: var(--primary-color);
    }

    .flex-center-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .circle-command-button {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: #848484;
      margin-left: 8px;

      * {
        color: white;
        fill: white;
      }
    }

    .circle-command-button:hover {
      opacity: 0.9;
    }

    .horizontal-queue-padding {
      padding: 0 16px;
    }

    svg {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
