.queue-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .second-queue-container {
    padding: 0 139px;
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 0;

    .queue-third-container {
      width: 460px;
      height: 426px;
      position: absolute;
      bottom: 0;

      .queue {
        z-index: 100;
        border-radius: 8px 8px 0 0;
        width: 460px;
        height: 326px;
        min-height: 326px;
        max-height: 326px;
        border-bottom: none !important;

        .queue-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .episode-height {
          z-index: 100;
          height: 60px;
        }

        .up-next-title {
          font-size: 14px;
          color: var(--text-color);
        }

        .clear-all {
          font-size: 14px;
          cursor: pointer;
          color: var(--primary-color);
        }

        .queue-episode-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }
        .queue-episode-item:hover {
          background-color: var(--bg-color);
          border: 1px solid var(--text-color);
        }

        .queue-episode-image {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          border: 2px solid var(--text-color);
        }
        .queue-episode-image-first {
          border: 2px solid var(--primary-color);
        }

        .queue-episode-title {
          font-size: 14px;
          color: var(--text-color);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 76%;
        }

        .remove-episode-icon-container {
          opacity: 0;
        }
        .remove-episode-icon-container:hover {
          opacity: 1;
        }

        .remove-episode-icon {
          opacity: 0;
        }
        .queue-episode-item:hover .remove-episode-icon,
        .queue-episode-item:hover .remove-episode-icon-container {
          opacity: 1;
        }

        .clickable,
        .clickable p,
        .clickable svg {
          cursor: pointer;
        }
        .clickable:hover,
        .clickable p:hover,
        .clickable svg:hover {
          transition: 0.2s ease-in-out;
          color: var(--text-color);
        }
        .clickable:active,
        .clickable p:active,
        .clickable svg:active {
          transition: 0.2s ease-in-out;
          color: var(--primary-color);
        }

        .flex-center-center {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .circle-command-button {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          background: #848484;
          margin-left: 8px;

          * {
            color: white;
            fill: white;
          }
        }

        .circle-command-button:hover {
          opacity: 0.9;
        }

        .horizontal-queue-padding {
          padding: 0 16px;
        }

        .queue-episode-list {
          height: 266px;
          max-height: 266px;
          min-height: 266px;
          overflow-y: scroll;
        }

        svg {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
